/**
 * Layout for all Basic-Portfolio web pages
 **/

body {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAgMAAAAog1vUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRFAAAAAQEBExMTNtJp1QAAAAN0Uk5TDhAib0q6YQAAARRJREFUOI1tlMsRgzAMRB8X90CqIWVwJwe68SkVpNBoMF7Lyc4YMxhrtasf21nqtBaW9/6a1kZ5fh7TqqzLfLQdHGU2rCt1neGPQjzT0VqIm9kwcAi8DB/eCK/5KDgR3LJhMCcUZPjQR3tJYOy0yxIYOw1SAmOnOZbAx+VxHzIv2jQRElibxyHz+ofuCwGhyg/yLTaIoTgjHVJG+rh/kExucxLw7YThvlNhkOyEGVK6LIbgLh6FRSFCwVMgUYgVbpQIJaXDn3D+eMxHxtDAGxKGqhFkZJvgmBCaQJt0mKSZ1JoCMGViismUnClMU76myE0rmIYxbWWaz7SoaWTT7mYomNFhBowZQ2ZYmZFmBp8Zj/9D9AtIqL3OO5IulQAAAABJRU5ErkJggg==");
	color: #777777;
 	font-family: "Arial", Helvetica, sans-serif;
}

header {}

footer {
	width: 100%;
	background-color: #666666;
	color: #777777;
	border-width: 5px;
	border-top-style: solid;
	border-color: #4aaaa5;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 22px;
	bottom: 0;
	}

h1, h2, h3, h4 {
	font-family: "Georgia", serif;
	font-weight: bold;
	text-align: left;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 22px;
}
p {
	font-size: 18px;
	text-align: left;
	margin-bottom: 18px;
	line-height: 27px;
}

summary {
	width: 650px;
	position: relative;
}

.main_header {
	width: 100%;
	background-color: #ffffff;
	margin: auto;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #cccccc;
}

.main_header_title {
	display: inline-block;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 22px;
	position: relative;
	left: 10%;
}

.main_header_sidebar {
	display: inline-block;
	position: absolute;
	right: 200px;
	top: 10px;
}

.main_content {
	width: 960px;
	background-color: #ffffff;
	position: relative;
	left: 0px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.main_content_header {
	color: #4aaaa5;
	padding-top: 12px;
	margin-right: 12px;
	padding-bottom: 12px;
	margin-left: 12px;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #dddddd;
	}

.main_content_summary {
	margin-top: 12px;
	margin-right: 12px;
	padding-bottom: 12px;
	margin-left: 12px;
	}

.main_content_contactme{
	padding: 22px;
	}

textarea {
	height:100px;
	}

.input_field {
	padding: 20px;
	}

.input_value {
	width: 400px;
	}

.send_button {
	background-color: #4aaaa5;
	color:#ffffff;
	font-size: 18px;
	text-align: center;
	width: 135px;
	padding: 8px;
	}

/* portfolio page */

.work {
  	position: relative;
  	width: 274px;
  	margin: 20px 0 25px;
  	overflow: auto;
	}

.work:nth-child(even) {
  	margin-right: 40px;
	}

.work img {
  	width: 100%;
	}

.work h4 {
	position: absolute;
	bottom: 18px;
	width: 90%;
	padding: 12px;
	margin-bottom: 0px;
	font-weight: 300;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: #4aaaa5;
	border-bottom: 0;
	}

.main_content_sidebar {
	clear: both;    
	overflow: auto; 
	width: 270px;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 0; 
	text-align: center;
}

.nav_list {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav_list_header {
	color: #4aaaa5;
	text-align: center;
	padding-bottom: 22px;
}

.nav_list_item {
	display: inline-block;
	list-style-type: none;
	font-size: 18px;
	padding: 0 5px 0 5px;
}

.nav_list_item a {
	text-decoration: none;
}

#MyPicture {
	float: left;
	margin-right: 18px;
	margin-bottom: 6px;
}


/********************************** SIZE 980px ******************************/
@media only screen and (max-width: 980px) {
/********************************** SIZE 980px ******************************/

summary {
	left: 4%;
	}

.main_header_title {
	left: 4%;
	}

.main_header_sidebar {
	right: 4%;
	}

/********************************** SIZE 768px ******************************/
@media only screen and (max-width: 768px) {
/********************************** SIZE 768px ******************************/

summary {
	width: 100%;
	position: relative;
	}

.main_header_title {
	left: 0;
	}

.main_header_sidebar {
	right: 0;
	}

.main_content {
	width: 768px;
	}

.main_content_summary {
	padding-bottom: 200px;
	}

.main_content_contactme {
	padding-bottom: 200px;
}

.main_content_sidebar {
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	margin-bottom: 50px;
	}

/********************************** SIZE 640px ******************************/
@media only screen and (max-width: 640px) {
/********************************** SIZE 640px ******************************/

body{
	width: 640px;
	}

summary {
	width: 100%;
	position: relative;
	}

.main_header_title {
	width: 100%;
	display: block;
	left: 0;
	}

.main_header_title h1 {
	text-align: center;
	}

.main_header_sidebar {
	display: block;
	position: static;
	}

.main_header_sidebar .nav_list {
	text-align: center;
	}

.main_header_sidebar .nav_list_item {
	width: 30%;
	display: inline-block;
	}

.main_content {
	width: 640px;
	}

.main_content_summary {
	padding-bottom: 200px;
	}

.main_content_contactme {
	padding-bottom: 200px;
}

.work {
	width:100%;
}

.main_content_sidebar {
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	margin-bottom: 50px;
	}

#MyPicture {
	clear: both;
	overflow: auto;
	float: none;
	width: 100%;
}
